@import url(https://fonts.googleapis.com/css2?family=Abel&display=swap);
@import url(https://use.typekit.net/ecw7swt.css);

:root {
  --background: #333;
  --event: #282828;
  --button: #789759;
  --text-color: #ccc;
  --body-font: "Abel", sans-serif;
  --header-font: "corn-dog", sans-serif;
}

.WelcomeScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--background);
  color: #ccc;
  font-family: var(--body-font);
  text-align: center;
}

.WelcomeScreen p {
  font-size: 18px;
  margin: 15px 0 15px 0;
  padding: 0% 5%;
}

.app-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  width: 25%;
  animation: pulse 3s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    filter: drop-shadow(0 0 15px var(--button));
  }
  to {
    filter: drop-shadow(0 0 2px var(--button));
  }
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 2rem;
  background-color: var(--event);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.google-btn:hover {
  box-shadow: 0 0 7px var(--button);
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--event);
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}

.btn-text {
  float: right;
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Abel";
  background-color: var(--event);
  width: 80%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

a {
  color: var(--button);
}
